<h1>Match Information</h1>

<p>Referee: <%= @match.manager.referee.name %></p>
<p>Contest: <%= @match.manager.name %></p>
<p>Status: <%= @match.status %></p>
<p>Players: <%= @match.manager.referee.players_per_game %></p>